*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1{
  margin-bottom: 15px;
}

.board{
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
  border: 4px solid #333;
}

.cell{
  border: 1px solid #999;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 4px;
  font-size: 14px;
  background: #fff;
}


.snake{
  position: absolute;
  font-size: 40px;
}

.s1{
  top: 40px;
  left: 200px;
  transform: rotate(45deg);
}

.s2{
  top: 260px;
  left: 60px;
  transform: rotate(-30deg);
}


.stair{
  position: absolute;
  font-size: 45px;
}

.l1{
  top: 180px;
  left: 300px;
}

.l2{
  top: 20px;
  left: 80px;
}